body {
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    /* text-align: center;
    align-items: center; */
    background-color: #FFFFFF;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}
.logo img {
    width: 200px;
    height: auto;
}
.name {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15%;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius: 4.03004px;
}
.name input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 25px;
}
.email {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3%;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius: 4.03004px;
}
.email input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 25px;
}
.password {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3%;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius: 4.03004px;
}
.password input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 25px;
}
.confirm {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3%;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius: 4.03004px;
}
.confirm input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 25px;
}
.signupfail {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center;
    margin-top: 3%;
    padding-left: 25%; /* 왼쪽 여백 추가 */
}
.signupfail h2 {
    font-size: 20px;
    color: red;
    margin: 0; /* 기본 마진을 제거하여 상단 정렬을 유지 */
}
.signupbutton {
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: #00498C;
    border-radius: 4.03004px;
}
.signupbutton h2 {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 25px;
    font-weight: lighter;
    color: white;
}
.signupbutton:hover {
    background-color: #105c92;
}
a{
    text-decoration: none;
}

